/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto-regular-webfont.woff2") format("woff2"),
    url("../font/roboto-regular-webfont.woff") format("woff");
}

/* Colores */
:root {
  --color-azul: #2f327b;
  --color-azulclaro: #4374a6;
  --color-blanco: #f0f2f2;
  --color-turquesa: #74c7f4;
  --color-grisclaro: #d2d6d9;
}

/* Enlaces */
a {
  text-decoration: none;
}

/* Cuerpo de la página */
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-blanco);
  background: linear-gradient(
    180deg,
    var(--color-azulclaro) 0%,
    var(--color-azul) 100%
  );
  margin: 0;
}
/* Contenedor principal */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  padding: 5vw;
  width: 100vw;
}

/* Encabezado */
header {
  display: flex;
  align-items: center;
}

/* Contenedor del logo */
.logo-container {
  display: flex;
  align-items: center;
  margin-top: 1vh;
}

/* Logo */
.logo {
  height: 14vw;
}

/* Texto del logo */
.logotexto {
  font-size: 1.6em;
  font-weight: bold;
}

/* Contenido principal */
main {
  margin-top: 6vh;
  width: 90vw;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Circulo de respiración */
.circulo-gris {
  width: 74vw;
  height: 74vw;
  background-color: var(--color-grisclaro);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Animación del círculo turquesa */
.circulo-turquesa {
  width: 0;
  height: 0;
  background-color: var(--color-turquesa);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 1s, height 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Botón de reproducción */
.play {
  margin-left: 8%;
  height: 32vw;
  cursor: pointer;
}

/* Contador */
#contador {
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  display: flex;
  padding-top: 4vh;
}

/* Sección de botones */
.botones {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3vh;
}

/* Estilo de botones */
.info,
.guia,
.back {
  display: inline-flex;
  padding: 2vh 6vw;
  justify-content: center;
  align-items: center;
  border-radius: 3vh;
  background: var(--color-azulclaro);
  color: var(--color-blanco);
}

/* Pie de página */
footer {
  margin-left: 16px;
  display: flex;
  height: 3rem;
  padding-right: 2px;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

/* Estilo de imagen en la sección de información */
.infoimage img {
  margin: 24px 0px;
}

/* Estilo de la sección de texto de la página */
.paginatexto {
  text-align: justify;
}

/* Estilo de títulos en la sección de texto */
.paginatexto h2 {
  margin-bottom: 16px;
}

/* Estilo de párrafos en la sección de texto */
.paginatexto p {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Estilo de elementos destacados en la sección de texto */
.paginatexto span {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
}

/* Estilo de hover para el botón de sonido */
#sonido-img:hover {
  cursor: pointer;
}

/* Estilo de botón de sonido activado */
#sonido-img[src="img/smartphone/Sonidoa.svg"] {
  filter: brightness(1.5); /* O cualquier otro estilo para indicar activado */
}
