/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "Roboto", sans-serif;
}

/* Colores */
:root {
  --color-azul: #2f327b;
  --color-azulclaro: #4374a6;
  --color-blanco: #f0f2f2;
  --color-turquesa: #74c7f4;
  --color-grisclaro:#d2d6d9;
}

a{
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  padding: 5vw;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, var(--color-azulclaro) 0%, var(--color-azul) 100%);
}

header {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 1vh;
}

.logo {
  height: 14vw;
}

.logotexto {
  color: var(--color-blanco);
  font-size: 1.6em;
  font-weight: bold;
}

main {
  margin-top: 6vh;
  width: 90vw;
  height: 54vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circulo-gris {
  width: 74vw;
  height: 74vw;
  background-color: var(--color-grisclaro);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circulo-turquesa {
  width: 0;
  height: 0;
  background-color: var(--color-turquesa);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 1s, height 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  margin-left: 8%;
  height: 32vw;
  cursor: pointer;
}

#contador {
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color-blanco);
  font-size: 4vh;
  display: flex;
  padding-top: 4vh;
}

.botones {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.info,
.guia {
  display: inline-flex;
  padding: 2vh 6vw;
  justify-content: center;
  align-items: center;
  border-radius: 3vh;
  background: var(--color-azulclaro);
  color: var(--color-blanco);
}

footer{
  margin-left: 16px;
  display: flex;
  height: 3rem;
  padding-right: 2px;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.footertexto{
  color: var(--color-blanco);
  font-family: Roboto;
  font-size: 1rem;
}
